header.header
    nav.nav.nav--plots
        a.nav__el(href='/') All plots
    .header__logo
        img(src='/img/logo.png' alt='OPG logo')
    nav.nav.nav--user
        //- a.nav__el(href='#') My orders
        //- a.nav__el(href='#')
        //-     img.nav__user-img(src='img/user.jpg' alt='User photo')
        //-     span Josip
        button.nav__el Log in
        button.nav__el.nav__el-cta Sign up